<footer>
    <h2>&copy; 2024 Geared Up Gaming</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/items">Featured</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</footer>