<header>
    <h1>Geared Up Gaming</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/items">Featured</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>