<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: `More About Geared Up Gaming`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="customer">
            <h2>About Geared Up Gaming</h2>
            <h4><i>We provide all the best products for new PC gamers</i></h4>
        </section>

        <section class="content">
            <h2>More</h2>
            <p>Our Featured page shows all of our most popular items in stock. If you want the best of the best gear, you have come to the right place. 
                Anything you need to start your PC journey is here. Write reviews on items you already have or buy from our store to let others know how it was!
            </p>
            
           
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>