main {
    max-width: 800px;
    margin: 0 auto;
    padding: 75px;
    background-color: rgb(117, 124, 240);
}


.content {
    margin-top: 50px;
    line-height: 2;
    text-align: center;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}

.customer {
    text-align: center;
    background-image: url("https://www.shutterstock.com/image-vector/abstract-neon-color-future-background-600nw-2229574275.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(253, 242, 150);
}

footer {
    margin-bottom: 0;
    padding: 30px;
    opacity: 0.8;
    border-radius: 10px;
    width: 100%;
   ul {
    background: #333333;
   }
   li {
    align-items: center;
    justify-content: center;
   }
}
