div {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    max-height: 100%;
    padding: 20px;
    margin: 4vh auto;
    
}

img {
    width: 60%;
    min-width: 300px;
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}
.photo {
    justify-content: center;
}

.item-name {
    font-size: 32px;
    margin-bottom: 10px;
}

section {
    text-align: left;
    margin: 0 20%;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

strong {
    font-weight: bold;
}


.actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn a {
    color: white;
    text-decoration: none;
    width: 50px;
    text-align: center;
}
footer {
    width: 100%;
    ul {
        background:#333333;
    }
}


@media screen and (max-width: 480px) {
    .actions {
        align-items: center;
        justify-content: center;
        margin: 3px;
    }
}