.customer {
    height: 20vh;
    min-height: 175px;
    margin-bottom: 2rem;
}

form {
    width: 40%;
    min-width: 300px;
    margin: 0 auto 2rem auto;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 3px solid rgb(117, 124, 240);
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
}

input[type="submit"]:hover {
    background-color: lightblue;
    color: #333;
    border: 1px solid #333;
}

.customer {
    background-image: url("https://www.shutterstock.com/image-vector/digital-technology-metaverse-neon-blue-600nw-2260816645.jpg");
    
}
h2 {

    color: rgb(253, 242, 150);
}
 h4 {
    color: rgb(253, 242, 150);
 }
 a {
    color: rgb(253, 242, 150);
 }