* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #333;
    scrollbar-width: 10px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: lightgoldenrodyellow;
    min-height: 100vh;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
}

h1 a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

nav li {
    margin-right: 1rem;
    padding: 0;
   
}

nav a {
    font-size: 1.2rem;
}

.customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8f1f2;
    height: 40vh;
}

.customer h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.customer h3 {
    font-size: 2rem;
    text-align: center;
}

.customer h4 {
    font-size: 1.5rem;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    background-color: rgb(117, 124, 240);
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    width: 110px;
    margin: 6px;
}

.btn:hover {
    background-color: lightblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.container li {
    list-style: none;
    text-align: center; 
}

.item-info {
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    width: calc(100vw - 1rem);
}

footer * {
    color: lightgray;
    opacity: 10;
}

footer ul {
    justify-content: center;
    color: black;
}

body {
    background-color: rgb(122, 188, 231);
}

img {
    width: 300px;
    height: 300px;
    border: 4px solid black;
    border-radius: 100%;
    display: flex;
}

header {
    background-color: black;
    opacity: 0.8;
}

nav {
    background-color: black;
    opacity: 0.8;
    width: 90%;
}

footer h2 {
    color: rgb(253, 242, 150);
}

header h1 {
    color: rgb(117, 124, 240);
}
nav a {
    color: rgb(117, 124, 240);
}

@media screen and (max-width: 480px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
}

