main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightgray;
}


.content {
    margin-top: 50px;
    line-height: 1.5;
    text-align: center;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}

.content ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.content li:before {
    content: "✓ ";
    color: #004080;
    font-weight: bold;
    margin-right: 10px;
}

.customer {
    text-align: center;
    background-image: url("https://www.starfrit.com/media/amasty/webp/contentmanager/content/cache/1070x1070/Bread_Dough_1_jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.customer h2 {
    background-color: white;
}
.customer h4 {
    background-color: white;
}