* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #333;
    scrollbar-width: 10px;
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: lightgoldenrodyellow;
    min-height: 100vh;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
}

h1 a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li:not(:last-child) {
    margin-right: 1rem;
}

nav a {
    font-size: 1.2rem;
}

.customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8f1f2;
    height: 40vh;
}

.customer h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.customer h3 {
    font-size: 2rem;
    text-align: center;
}

.customer h4 {
    font-size: 1.5rem;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: dotted;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: lightblue;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    width: calc(100vw - 1rem);
}

footer * {
    color: lightgray;
    opacity: 10;
}

footer ul {
    justify-content: center;
    color: black
}

nav {
    background-color: azure;
}


